.wrap {
  text-align: center;
  max-width: 1000px;
  margin: 5em auto;

}

.box {
  background-color: rgba(225,255,255,0.7);
  border: 2px white;
  
}


a {
  color:#fb8072;
}


body {
  font-family: "futura";
  color: #fb8072;
 background-size: 100%;
  font-size: 30px;
text-align: left;
}
