body {
  font-family: futura, sans-serif;
  font-weight: 300;
  background-color: #ffd0d0;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: left;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color:white;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-image: url('cutecat.jpg');
  background-size: cover;
  color: white;
  height: 500px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: white;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: white;
    font-size: 40px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 20px;
}

.btn.btn-primary {
  border-radius: 3px;
  border: 2px;
  color:white;
  text-shadow: none;
  background-color:white ;
  font-size: 20px;
   -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:3px solid pink;
  display:inline-block;
  cursor:pointer;
  color:pink;
}

.btn.btn-primary:hover {
  color: white;
  background-color: #fbd1d5;
   -moz-border-radius:30px;
  -webkit-border-radius:30px;

}

.btn-secondary {
  background-color:white ;
  color: #fbd1d5 ;
  margin: 0 0 30px;
  font-size: 20px;
   -moz-border-radius:30px;
  -webkit-border-radius:30px;
   -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:3px solid pink;
  display:inline-block;
  cursor:pointer;
  color:pink;

}

.btn-secondary:hover {
 color:white;
  background-color:#fbd1d5 ;
  border-radius: 3px;
   -moz-border-radius:30px;
  -webkit-border-radius:30px;

}

.myButton {
  background-color:white;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:3px solid pink;
  display:inline-block;
  cursor:pointer;
  color:pink;
  font-family:futura;
  font-size:17px;
  padding:4px 30px;
 margin-left: 800px;
 margin-top:20px;
}

.myButton:hover {
  background-color:pink;
  color: white;
}
.myButton:active {
  position:relative;
  top:1px;
}
h1 {
  font-family: futura;
  font-size: 30px;
  color: white;
}
h2 {
  font-family: futura;
  font-size: 20px;
  color: white;
}
