.wrap {
  text-align: center;
  max-width: 1000px;
  margin: 5em auto;
}

.main-paragraph {
  text-align: left;
}

.box {
  background-color: rgba(225,255,255,0.5);
  border: 2px white;
  
}


a {
  color: #3c7349;
}

body {
  font-family: "futura";
  color: #3c7349;
 background-image: url(orange.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
  font-size: 30px;

}
