
body{
	margin:0;
	padding:0;
	background-color: pink;
}

h1{
	font-family: Futura;
	color: white;
	font-size: 25px;
	position: center;
	position: relative;
	text-align: center;
	
	
}

h2{
	font-family: Futura;
	z-index: 1;
	color: white;
	font-size: 50px;
	position: center;
	text-shadow: 3px 2px #191970;
	text-align: center;
	
}

a{
 font-family: Futura;
font-size: 30px;
color: grey;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: pink;
    text-align: center;
}

li a {
    display: block;
    color: #42465e;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color:#ffe4c4;
    color: white;
}