html, body {
  height:100%;
}
body {
  font-size:100%;
  margin:0;
  background:black;
  font-family:georgia;
  text-align:center;
}
.slide{
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  
  border:solid 1em #000;
  background:#fff;
  cursor: pointer;
  height:100vh;
}

.slide table {
width:90%;
height:90%;
  margin:auto 5%;
  overflow:auto;
}

.slide td {
  hieght:100%;
   vertical-align:middle;
}
.slide div {
 max-width:37.5vw;
 margin:auto;
}


h1 {
font-weight:normal;
font-size:3.8em;
font-size:5vw;
text-align:center;
}
p { font-size:1.7em; font-size:2.25vw; line-height:1.4; margin:.2em auto;}

.cover{background: #f2eee2;}

.p1{background: #eef0fd;}
.p2{background: url(http://www.eznetu.com/happy-giant.png) no-repeat bottom #9cddee; 
  background-size:auto 50%; 
}	
.p3{background:  #f3c36f;
}
.p4{background: #def;}
.p5{background: #123; color:#ccc;}
.p6 {background:#800; color:#ffe;}
.p7 { background:url(http://www.eznetu.com/beanstalk-rough.png) right bottom no-repeat #59c;
  background-size:auto 100%; 
color:#cfa;
}
.p8 {background:#222; color:#bbb;}
.p9 {background:#ccc; color:#333;}
.p10 {cursor:default;}

.button {
  display:inline-block;
  background:black;
  color:white;
  padding:.75em;
  border-radius:6px;
  cursor:pointer;
  transition: .25s ease-out;
}
.button:hover {
  background:#c11; 
}


.floating {
  border:solid transparent;
animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
  50% {transform: translateY(9px);}
}


@media screen and (max-width:600px) {
  body{
  font-size:85%;
  }
  p {  font-size:3.5vw; }
}