
html {
	margin: 0;
	padding:0 ;
	}
body { 
	font: 85% helvetica, sans-serif;
	line-height: 1.88889;
	color: black; 
	padding: 0;
	background:url(sarahgolden.jpg); 


	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: 120% helvetica, sans-serif;
	letter-spacing: 0.8px; 
	margin-bottom: 0; 
	color: #FF69B4;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}



.page-wrapper { 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;

	}

header h1 { 
	font-family: futura;
	color: #FF69B4;
	font-size: 60px;
	margin-top: 5px;
	margin-left: -500px;
    float: left;
	overflow: hidden;
	 border: 1px pink;
    outline: #B0E0E6 solid 8px;
    margin: auto;    
    padding: 20px;
    text-align: center;
    outline-style: dashed;
	}
header h2 {  
	font-family: futura;
	color: #FF69B4;
		font-size: 29px;
	margin-top: -10px; 
	margin-bottom: 40px; 
	margin-left: 220px;
	float: left;
	overflow: hidden;
	 border: 1px pink;
    outline: #B0E0E6 solid 8px;
    margin: auto;    
    padding: 20px;
    text-align: center;
    outline-style: dashed;
	
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	background-color: #FFC0CB;
	}
.summary p {
	font: 20px helvetica; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	padding: 10px; 
	margin-top: 150px; 
	width: 170px; 
	margin-right: -40px;
	background-color: #FFEFD5;
	}
.sidebar h3.select { 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	white-space: nowrap;
	overflow: hidden;
	 background-color: pink;
    width: 200px;
    height: 50px;
    border: 1px;
    overflow: hidden;
	}
.sidebar h3.archives { 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 
	
	white-space: nowrap;
	overflow: hidden;
	 background-color: pink;
    width: 200px;
    height: 50px;
    border: 1px;
    overflow: hidden;
	}
.sidebar h3.resources { 
	
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 
	
	white-space: nowrap;
	overflow: hidden;
	 background-color: pink;
    width: 200px;
    height: 50px;
    border: 1px;
    overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: black;
	}
.sidebar li a:visited {
	color: black;
	}


.extra1 {5ee
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}